footer {
    background-color: #ffffff; 
    height: 60px; 
    width: 100%; 
    position: fixed; 
    bottom: 0%;
    border-top: 1px;
    border-top: #CCCCCC; 
    border-top-style: solid;
}
p {
    text-align: center
}