/*Add Places section:
tag: section
classname: places
same level as the filters section, inside .container
contains a title:
tag: h1
text: Places
align in the top left
font size: 30px
contains multiple “Places” as listing (horizontal or vertical) describe by:
tag: article
width: 390px
padding and margin 20px
border  1px with radius 4px
contains the place name:
tag: h2
font size: 30px
center horizontally
*/

h1 {
    font-size: 30px;
    padding-bottom: 0%;
}
.article {
    padding-top: 0%;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;    
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

.article h2 {
    font-size: 30px;
    width: 390px;
    text-align: center;
    border: #FF5A5F 1px;
    border-style: solid;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
}100px 100px 100px 100px

.item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;

}
.item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 10;

}
.item3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 10;
    padding-bottom: 70px;

}